body{
    margin:0;
    padding:0;
    font-family:"Roboto",sans-serif;
}
header{
    z-index:1;
    position:fixed;
    background:#22242A;
    padding:20px;
    width:calc(100% - 0%);
    top:0;
    height:30px;
}
.left-area h3{
    color:#fff;
    margin:0;
    text-transform:uppercase;
    font-size: 22px;
    font-weight:900;
}
.left-area span{
    color:#1DC4E7;
}
.logout-button{
    text-decoration:none;
    float:right;
    margin-top:-30px;
    margin-right:40px;
    border-radius:60%;
    font-size:20px;
    color:#fff;
    transition:0.5s;
    transition-property: background;
}
.logout-button:hover{
    color:#0D9DBB;
}
.sidebar{
    z-index: 1;
    top:0;
    background:#2F323A;
    margin-top:70px;
    padding-top:30px;
    position:fixed;
    left:0;
    width:250px;
    height:calc(100% - 9%);
    transition:0.5s;
    transition-property:left;
    overflow-y:auto;
}
.sidebar .profile-info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.sidebar .profile-info .profile-img{
    width:100px;
    height:100px;
    border-radius:100px;
    margin-bottom:10px;
}
.sidebar .profile-info h4{
    color:#ccc;
    margin-top:0;
    margin-bottom:20px;
}
.sidebar a{
    color:#fff;
    display:block;
    width:100%;
    line-height:60px;
    text-decoration:none;
    padding-left:30px;
    box-sizing:border-box;
    transition:0.5s;
    transition-property:background;
}
.sidebar a:hover{
    background:#19B3D3;
}
.sidebar i{
    padding:10px;
}
label #sidebar-btn{
    z-index:1;
    color:#fff;
    position:fixed;
    cursor:pointer;
    left:250px;
    margin:5px 0;
    font-size:20px;
    transition:0.5s;
    transition-property:color;
}
label #sidebar-btn:hover{
    color:#19B3D3;
}
#check{
    display:none;
}
#check:checked ~ .sidebar{
    left:-185px;
}
#check:checked ~ .sidebar a span{
    display:none;
}
#check:checked ~.sidebar a{
    font-size:20px;
    margin-left:165px;
    width:100%;
}
#check:checked ~ .content-body{
    margin-left:60px;
}
#check:checked ~ .sidebar .profile-info{
    display:none;
}
.content-body{
    width:calc(100%-250px);
    margin-top:70px;
    margin-left:250px;
    transition:0.5s;
    height:auto;
}
.content-body .dash-nav{
    width:100%;
    height:60px;
    background:#008fac;
    display:flex;
    align-items: center;
    justify-content:center; 
}
.content-body .dash-nav label{
    display:block;
    color:white;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:lighter;
}
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.content-body .dash-nav .nav-date{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}
.content-body .dash-nav .button {
        background-color: #008fac;
        border:none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        cursor:pointer;
}
.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em};
}
.content-body .dashboard{
    width:95% auto;
    height:auto;
    padding:20px;
    background:#ddf9ff;
}

.mobile-nav{
    display:none;
}
/* Responsive CSS */
@media screen and (max-width:780px){
    .sidebar{
        display:none;
    }
    #sidebar-btn{
        display:none;
    }
    .content-body{
        margin-left:0;
        margin-top:0;
        padding:10px 20px;
        transition:0s;
    }
    #check:checked ~ .content-body{
        margin-left:0;
    }
    .mobile-nav{
        display:block;
        width:calc(100%-0%);
    }
    .navbar{
        background:#222;
        width:calc(100%-0%);
        margin-top:70px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:10px 20px;
    }
    .navbar .mobile-profile-img{
        width:50px;
        height:50px;
        border-radius:50%;
    }
    .navbar .nav-btn{
        color:#fff;
        font-size:22px;
        cursor: pointer;
        transition:0.5s;
        transition-property:color;
    }
    .navbar .nav-btn:hover{
        color:#19B3D3
    }
    .mobile-nav-items{
        background:#2F323A;
        display:none;
    }
    .mobile-nav-items a{
        color:#fff;
        display:block;
        text-align:center;
        letter-spacing:1px;
        line-height:60px;
        text-decoration:none;
        box-sizing:border-box;
        transition:.5s;
        transition-property:background;
    }
    .mobile-nav-items a:hover{
        background:#19B3D3;
    }
    .mobile-nav-items i{
        padding-right:10px;
    }
    .active{
        display:block;
    }
}